* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin: 0 auto;
  width: 960px;
}

.list-box{
  margin: 50px 0;
}

ul {
  list-style: none;
}

li:nth-child(odd) {
  background-color: #dcdcdc;
}

li {
  padding: 20px 0 20px 20px;
}

.color-box {
  margin: 0 0 10px 0;
  width: 960px;
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 30%;
  height: 200px;
  background-color: #FFD700;
  margin-bottom: 40px;
}

.box1,
.box2,
.box4,
.box5,
.box7,
.box8 {
  margin-right: 5%;
}

.box:nth-child(1),
.box:nth-child(5),
.box:nth-child(9) {
  background-color: #ff8c00;
}